form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}